name: Doc Publication

on:
  push:
    paths:
    - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: install
        run: sudo apt-get update && sudo apt-get install -y doxygen && sudo apt-get install -y graphviz
      - name: build doc
        run: mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && make doxygen
      - name: doc deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./build/DoxyDoc/demo/html